/*
  Functions
*/
.row, .socialmedia, .header-holder, .pagination, .menuButton {
  *zoom: 1; }
  .row:before, .socialmedia:before, .header-holder:before, .pagination:before, .menuButton:before, .row:after, .socialmedia:after, .header-holder:after, .pagination:after, .menuButton:after {
    display: table;
    content: ""; }
  .row:after, .socialmedia:after, .header-holder:after, .pagination:after, .menuButton:after {
    clear: both; }

.opacity0 {
  opacity: 0;
  transition: 0.5s; }

.opacity1 {
  opacity: 0.75;
  transition: 0.5s; }

.opacity0b {
  opacity: 0;
  transition: 1s; }

.opacity1b {
  opacity: 0.75;
  transition: 1s; }

.displayNone {
  display: none;
  transition: 0.5s; }

.displayBlock {
  display: block;
  transition: 0.5s; }

/*
	Grid
*/
/*
	Typography
*/
/*
	User Interface Elements
*/
.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  border-radius: 5px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: all .22s ease-in-out;
  transition-property: background, color, border;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased; }
  .btn:hover,
  input[type="submit"].btn:hover,
  .btn-secondary:hover,
  input[type="submit"].btn-secondary:hover, .btn:visited,
  input[type="submit"].btn:visited,
  .btn-secondary:visited,
  input[type="submit"].btn-secondary:visited, .btn:active,
  input[type="submit"].btn:active,
  .btn-secondary:active,
  input[type="submit"].btn-secondary:active {
    text-decoration: none; }

.alert-box, .alert-box.error, .alert-box.success, .alert-box.notice {
  position: relative;
  padding: 0.875em 1.3125em;
  margin-bottom: 0.875em;
  cursor: pointer;
  background-color: #31b1c6;
  border-color: #2890a1;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #0e353b; }
  .alert-box a, .alert-box.error a, .alert-box.success a, .alert-box.notice a {
    text-decoration: underline; }
  .alert-box a:hover,
  .alert-box a:active,
  .alert-box a:focus {
    text-decoration: none; }
  .alert-box a.close {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    display: block;
    line-height: 1;
    text-decoration: none; }
  .alert-box p, .alert-box.error p, .alert-box.success p, .alert-box.notice p {
    font-size: 1em;
    line-height: 1.75;
    padding-top: 0.4375em;
    padding-bottom: 0.4375em; }

/*
	Pagination mixin
*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section, main {
  display: block; }

.row {
  margin: 0 auto;
  max-width: 61.875em; }
  .row .row {
    padding: 0; }

.row .row {
  padding: 0; }
  @media (min-width: 30em) {
    .row .row {
      margin-left: -10px;
      margin-right: -10px; } }

@media (min-width: 30em) {
  .last-col {
    float: right; } }

.grid-1 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-1 {
    width: 9.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-1 {
    width: 9.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-1 {
    width: 9.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-1 {
    left: 9.0909090909%; }

  .pull-left-1 {
    left: -9.0909090909%; } }
@media (min-width: 60em) {
  .bp4-grid-1 {
    width: 9.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-1 {
    width: 9.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-2 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-2 {
    width: 18.1818181818%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-2 {
    width: 18.1818181818%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-2 {
    width: 18.1818181818%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-2 {
    left: 18.1818181818%; }

  .pull-left-2 {
    left: -18.1818181818%; } }
@media (min-width: 60em) {
  .bp4-grid-2 {
    width: 18.1818181818%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-2 {
    width: 18.1818181818%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-3 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-3 {
    width: 27.2727272727%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-3 {
    width: 27.2727272727%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-3 {
    width: 27.2727272727%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-3 {
    left: 27.2727272727%; }

  .pull-left-3 {
    left: -27.2727272727%; } }
@media (min-width: 60em) {
  .bp4-grid-3 {
    width: 27.2727272727%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-3 {
    width: 27.2727272727%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-4 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-4 {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-4 {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-4 {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-4 {
    left: 36.3636363636%; }

  .pull-left-4 {
    left: -36.3636363636%; } }
@media (min-width: 60em) {
  .bp4-grid-4 {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-4 {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-5 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-5 {
    width: 45.4545454545%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-5 {
    width: 45.4545454545%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-5 {
    width: 45.4545454545%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-5 {
    left: 45.4545454545%; }

  .pull-left-5 {
    left: -45.4545454545%; } }
@media (min-width: 60em) {
  .bp4-grid-5 {
    width: 45.4545454545%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-5 {
    width: 45.4545454545%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-6 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-6 {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-6 {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-6 {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-6 {
    left: 54.5454545455%; }

  .pull-left-6 {
    left: -54.5454545455%; } }
@media (min-width: 60em) {
  .bp4-grid-6 {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-6 {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-7 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-7 {
    width: 63.6363636364%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-7 {
    width: 63.6363636364%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-7 {
    width: 63.6363636364%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-7 {
    left: 63.6363636364%; }

  .pull-left-7 {
    left: -63.6363636364%; } }
@media (min-width: 60em) {
  .bp4-grid-7 {
    width: 63.6363636364%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-7 {
    width: 63.6363636364%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-8 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-8 {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-8 {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-8 {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-8 {
    left: 72.7272727273%; }

  .pull-left-8 {
    left: -72.7272727273%; } }
@media (min-width: 60em) {
  .bp4-grid-8 {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-8 {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-9 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-9 {
    width: 81.8181818182%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-9 {
    width: 81.8181818182%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-9 {
    width: 81.8181818182%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-9 {
    left: 81.8181818182%; }

  .pull-left-9 {
    left: -81.8181818182%; } }
@media (min-width: 60em) {
  .bp4-grid-9 {
    width: 81.8181818182%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-9 {
    width: 81.8181818182%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-10 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-10 {
    width: 90.9090909091%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-10 {
    width: 90.9090909091%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-10 {
    width: 90.9090909091%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-10 {
    left: 90.9090909091%; }

  .pull-left-10 {
    left: -90.9090909091%; } }
@media (min-width: 60em) {
  .bp4-grid-10 {
    width: 90.9090909091%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-10 {
    width: 90.9090909091%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.grid-11 {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

@media (min-width: 30em) {
  .bp2-grid-11 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 42.5em) {
  .grid-11 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .bp3-grid-11 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }

  .push-left-11 {
    left: 100%; }

  .pull-left-11 {
    left: -100%; } }
@media (min-width: 60em) {
  .bp4-grid-11 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
@media (min-width: 71.25em) {
  .bp5-grid-11 {
    width: 100%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; } }
.btn,
a.btn,
input.btn,
input[type="submit"].btn,
.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  height: 2.1875em; }
  @media (min-width: 42.5em) {
    .btn,
    a.btn,
    input.btn,
    input[type="submit"].btn,
    .btn-secondary,
    input.btn-secondary,
    input[type="submit"].btn-secondary,
    a.btn-secondary {
      padding-left: 0.46875em;
      padding-right: 0.46875em;
      font-size: 1em;
      line-height: 1.3125;
      padding-top: 0.875em;
      padding-bottom: 0.875em;
      height: 3.0625em;
      display: inline-block;
      width: auto; } }
  @media (min-width: 71.25em) {
    .btn,
    a.btn,
    input.btn,
    input[type="submit"].btn,
    .btn-secondary,
    input.btn-secondary,
    input[type="submit"].btn-secondary,
    a.btn-secondary {
      padding-left: 0.625em;
      padding-right: 0.625em;
      font-size: 1.414em;
      line-height: 1.2376237624;
      padding-top: 0.6188118812em;
      padding-bottom: 0.6188118812em;
      height: 2.4752475248em; } }

.btn,
a.btn {
  border: 1px solid #31b1c6;
  background-color: #31b1c6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: #0e353b; }
  .btn:hover, .btn:focus,
  a.btn:hover,
  a.btn:focus {
    border: 1px solid #51c1d4;
    background-color: #51c1d4;
    color: #18393f; }
  .btn:focus,
  a.btn:focus {
    text-decoration: underline; }
  .btn:active,
  a.btn:active {
    background-color: #51c1d4;
    box-shadow: none;
    color: #18393f; }
  .btn:visited,
  a.btn:visited {
    color: #0e353b; }

.btn-secondary,
input.btn-secondary,
input[type="submit"].btn-secondary,
a.btn-secondary {
  border: 1px solid #008db2;
  background-color: #008db2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
  color: #f2f9fb; }
  .btn-secondary:hover, .btn-secondary:focus,
  input.btn-secondary:hover,
  input.btn-secondary:focus,
  input[type="submit"].btn-secondary:hover,
  input[type="submit"].btn-secondary:focus,
  a.btn-secondary:hover,
  a.btn-secondary:focus {
    border: 1px solid #00b1e0;
    background-color: #00b1e0;
    color: #003543; }
  .btn-secondary:focus,
  input.btn-secondary:focus,
  input[type="submit"].btn-secondary:focus,
  a.btn-secondary:focus {
    text-decoration: underline; }
  .btn-secondary:active,
  input.btn-secondary:active,
  input[type="submit"].btn-secondary:active,
  a.btn-secondary:active {
    background-color: #00b1e0;
    box-shadow: none;
    color: #003543; }
  .btn-secondary:visited,
  input.btn-secondary:visited,
  input[type="submit"].btn-secondary:visited,
  a.btn-secondary:visited {
    color: #f2f9fb; }

.error-area {
  color: #d00c00; }
  .error-area input[type="input"],
  .error-area input[type="text"],
  .error-area input[type="email"],
  .error-area input[type="password"],
  .error-area input[type="search"],
  .error-area input[type="tel"],
  .error-area input[type="url"],
  .error-area input[type="number"],
  .error-area input[type="date"],
  .error-area input[type="month"],
  .error-area input[type="week"],
  .error-area input[type="time"],
  .error-area input[type="datetime"],
  .error-area input[type="datetime-local"],
  .error-area input[name="field_country_code"],
  .error-area input[name="field_city_code"],
  .error-area input[name="field_phone_int"],
  .error-area select[multiple],
  .error-area textarea {
    border-color: #d00c00; }
    .error-area input[type="input"]:focus,
    .error-area input[type="text"]:focus,
    .error-area input[type="email"]:focus,
    .error-area input[type="password"]:focus,
    .error-area input[type="search"]:focus,
    .error-area input[type="tel"]:focus,
    .error-area input[type="url"]:focus,
    .error-area input[type="number"]:focus,
    .error-area input[type="date"]:focus,
    .error-area input[type="month"]:focus,
    .error-area input[type="week"]:focus,
    .error-area input[type="time"]:focus,
    .error-area input[type="datetime"]:focus,
    .error-area input[type="datetime-local"]:focus,
    .error-area input[name="field_country_code"]:focus,
    .error-area input[name="field_city_code"]:focus,
    .error-area input[name="field_phone_int"]:focus,
    .error-area select[multiple]:focus,
    .error-area textarea:focus {
      border-color: #d00c00; }

.error-help {
  display: block; }

.alert-box strong {
  color: #0e353b; }
.alert-box a {
  color: #0e353b; }

.alert-box.error {
  background-color: #d00c00;
  border-color: #a20900;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #fcf2f2; }
  .alert-box.error strong {
    color: #fcf2f2; }
  .alert-box.error a {
    color: #fcf2f2; }

.alert-box.success {
  background-color: #72aa2e;
  border-color: #5a8624;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #22330d; }
  .alert-box.success strong {
    color: #22330d; }
  .alert-box.success a {
    color: #22330d; }

.alert-box.notice {
  background-color: #ffe38a;
  border-color: #ffd85c;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #4c4429; }
  .alert-box.notice strong {
    color: #4c4429; }
  .alert-box.notice a {
    color: #4c4429; }

.media-embed {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2.25em; }
  .media-embed iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

a {
  text-decoration: none; }

a, a:hover, a:visited, a:active {
  outline: 0 !important; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hover-fade {
  opacity: 0.5; }

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font: 400 100%/1.5 "Open Sans", sans-serif; }

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: #404040;
  background-color: #FFFFFF; }

::-moz-selection {
  background-color: #1c62d1;
  color: #e6e6e6;
  text-shadow: none; }

::selection {
  background-color: #1c62d1;
  color: #e6e6e6;
  text-shadow: none; }

hr {
  border: 1px solid #d9d9d9;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 0 1.5em; }

img {
  vertical-align: top;
  border: 0; }

.clear {
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-rendering: optimizelegibility; }

h1 {
  color: #1c62d1;
  font-size: 1.999396em;
  line-height: 1.3128964947;
  padding-top: 0.6564482474em;
  padding-bottom: 0.6564482474em;
  font-size: 2.7em; }

h2 {
  font-weight: 300;
  color: #1c62d1;
  font-size: 1.999396em;
  line-height: 1.3128964947;
  padding-top: 0.6564482474em;
  padding-bottom: 0.6564482474em;
  font-size: 2.5em;
  line-height: 2em; }

h3 {
  color: #1c62d1;
  font-size: 1.414em;
  line-height: 1.547029703;
  padding-top: 0.9282178218em;
  padding-bottom: 0.3094059406em;
  font-size: 1.3em; }

h4,
h5,
h6 {
  color: #1c62d1;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 1.3125em;
  padding-bottom: 0.4375em;
  font-size: 0.9em; }

p,
ol,
ul,
dl,
table,
address,
pre {
  font-size: 1em;
  line-height: 1.75;
  padding-top: 0.4375em;
  padding-bottom: 0.875em; }

ul,
ol {
  padding-left: 1em; }

table {
  text-align: left;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.875em;
  line-height: 1.7142857143em;
  margin-bottom: 3.4285714286em; }

caption {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  border-bottom: 1px solid silver;
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em; }

td,
th {
  padding: .25em 1em .25em 0;
  border-bottom: 1px solid #55c3d5; }

img {
  max-width: 100%; }

form {
  padding: 0 0 0.875em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 300;
  font-size: 0.9em; }
  form p:last-child {
    position: relative;
    width: 100%; }

legend,
label {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.75;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em; }

input[type="input"],
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[name="field_country_code"],
input[name="field_city_code"],
input[name="field_phone_int"],
select[multiple],
textarea {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  border-radius: 5px;
  border: 0;
  color: #8c8c8c;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  width: 100%;
  display: block;
  border: 1px solid #1c62d1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.15625em;
  padding-right: 0.15625em;
  font-size: 1em;
  line-height: 1.3125;
  padding-top: 0.4375em;
  padding-bottom: 0.4375em;
  height: 2.1875em;
  margin-top: 0em;
  margin-bottom: 0.75em; }
  input[type="input"]:focus,
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[name="field_country_code"]:focus,
  input[name="field_city_code"]:focus,
  input[name="field_phone_int"]:focus,
  select[multiple]:focus,
  textarea:focus {
    color: #1c62d1;
    outline-color: #1c62d1; }
  @media (min-width: 42.5em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1em;
      line-height: 1.3125;
      padding-top: 0.875em;
      padding-bottom: 0.875em;
      height: 3.0625em; } }
  @media (min-width: 71.25em) {
    input[type="input"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[name="field_country_code"],
    input[name="field_city_code"],
    input[name="field_phone_int"],
    select[multiple],
    textarea {
      padding-left: 0.15625em;
      padding-right: 0.15625em;
      font-size: 1.414em;
      line-height: 1.2376237624;
      padding-top: 0.6188118812em;
      padding-bottom: 0.6188118812em;
      height: 2.4752475248em; } }

input[type="text"], input[type="email"] {
  height: 50px;
  padding-left: 10px;
  font-size: 1em !important; }

textarea {
  height: 150px;
  padding-left: 10px;
  font-size: 1em !important; }

::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic; }

::-moz-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic; }

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: italic; }

input[type="submit"],
button {
  cursor: pointer;
  background-color: #FFFFFF;
  color: #1c62d1;
  border: 2px solid #1c62d1;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  line-height: 20px;
  margin-top: 20px;
  font-size: 1.1em;
  font-weight: 600;
  -webkit-appearance: none;
  tranistion: 0.5s;
  float: left; }

input[type="submit"]:hover, button:hover {
  background-color: #1c62d1;
  color: #FFFFFF;
  border: transparent;
  tranistion: 0.5s; }

.grid {
  width: 100%; }

.grid-item {
  width: 100%;
  padding: 10px;
  float: left;
  opacity: 1;
  transition: 0.4s;
  cursor: pointer; }
  @media (min-width: 42.5em) {
    .grid-item {
      width: 50%; } }
  @media (min-width: 60em) {
    .grid-item {
      width: 33.33%; } }

.grid-sizer {
  padding: 2px;
  float: left;
  opacity: 1;
  transition: 0.4s;
  cursor: pointer;
  width: 100%; }
  @media (min-width: 42.5em) {
    .grid-sizer {
      width: 50%; } }
  @media (min-width: 60em) {
    .grid-sizer {
      width: 33.33%; } }

.itemTop {
  padding: 0;
  height: 300px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 42.5em) {
    .itemTop {
      height: 200px; } }
  @media (min-width: 71.25em) {
    .itemTop {
      height: 250px; } }
  .itemTop img {
    position: absolute;
    width: 100%; }
  .itemTop p {
    padding: 0; }

.itemContent {
  padding-top: 0.75em;
  padding-bottom: 0em;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  background-color: #f3f3f3; }
  .itemContent h3 {
    font-size: 1.3em;
    text-align: center;
    padding: 0; }
  .itemContent a, .itemContent a:hover, .itemContent a:active, .itemContent a:visited {
    color: #1c62d1;
    text-decoration: none; }
  .itemContent .itemDate {
    color: #8c8c8c;
    text-align: center;
    font-size: 0.9em;
    margin-top: 0; }
  .itemContent .introduction {
    font-size: 0.9em; }

.grid-item:hover {
  opacity: 0.8;
  transition: 0.4s; }

#blogDetail .articleContent {
  margin-top: 3em;
  margin-bottom: 3em; }
  #blogDetail .articleContent a, #blogDetail .articleContent a:hover, #blogDetail .articleContent a:visited, #blogDetail .articleContent a:active {
    text-decoration: none;
    color: #1c62d1; }
  @media (min-width: 42.5em) {
    #blogDetail .articleContent {
      padding-right: 15%; } }
  #blogDetail .articleContent h2 {
    color: #1c62d1; }
  #blogDetail .articleContent p {
    text-align: justify;
    line-height: 2em; }
    @media (min-width: 42.5em) {
      #blogDetail .articleContent p {
        font-size: 1.2em; } }
  #blogDetail .articleContent img {
    width: 80%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 10%; }
#blogDetail footer {
  margin-top: 6em; }

.mainHeader {
  margin-top: -5px;
  margin-right: -5px;
  position: relative;
  overflow: hidden; }
  .mainHeader h1 {
    font-size: 1.6em; }
    @media (min-width: 42.5em) {
      .mainHeader h1 {
        font-size: 2.7em; } }
  .mainHeader .time {
    font-weight: 300;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0em; }
  .mainHeader .loaded img {
    max-width: none;
    width: 200%;
    margin-left: -50%; }
    @media (min-width: 30em) {
      .mainHeader .loaded img {
        width: 160%;
        margin-left: -30%; } }
    @media (min-width: 42.5em) {
      .mainHeader .loaded img {
        width: 100%;
        margin-left: 0; } }
    @media (min-width: 71.25em) {
      .mainHeader .loaded img {
        margin-top: -100px; } }

.mainHeaderTextLeft {
  padding-top: 0em;
  padding-bottom: 2.25em;
  text-align: left;
  z-index: 99;
  height: 100%;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6FFFFFF,endColorstr=#E6FFFFFF);
  zoom: 1; }
  @media (min-width: 42.5em) {
    .mainHeaderTextLeft {
      padding-top: 0em;
      padding-bottom: 0em;
      background-color: transparent;
      background-color: rgba(255, 255, 255, 0);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
      zoom: 1;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0.01) 200%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.95)), color-stop(40%, rgba(255, 255, 255, 0.95)), color-stop(200%, rgba(255, 255, 255, 0.01)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 40%, rgba(125, 185, 232, 0.1) 200%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0.01) 200%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0.01) 200%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0.01) 200%);
      /* W3C */ } }
  @media (min-width: 60em) {
    .mainHeaderTextLeft {
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 33%, rgba(255, 255, 255, 0.01) 150%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.95)), color-stop(33%, rgba(255, 255, 255, 0.95)), color-stop(150%, rgba(255, 255, 255, 0.01)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 33%, rgba(125, 185, 232, 0.1) 150%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 33%, rgba(255, 255, 255, 0.01) 150%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 33%, rgba(255, 255, 255, 0.01) 150%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 33%, rgba(255, 255, 255, 0.01) 150%);
      /* W3C */ } }
  .mainHeaderTextLeft h1 {
    color: #1c62d1;
    padding-bottom: 0.2em; }
  .mainHeaderTextLeft p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 2em;
    font-weight: 300;
    padding-top: 0.45em;
    padding-bottom: 0.45em; }
    @media (min-width: 42.5em) {
      .mainHeaderTextLeft p {
        padding-top: 0.45em;
        padding-bottom: 0.75em;
        width: 85%;
        font-size: 1.2em; } }

.mainHeaderImgRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -99;
  max-width: none;
  width: 100%; }

.socialmedia {
  margin-top: 0em;
  margin-bottom: 0em; }

.socialmediaButton {
  float: left;
  margin-right: 1em;
  margin-top: 0em;
  margin-bottom: 0.75em; }

.socialmediaButton:nth-child(2) {
  margin-top: 0em;
  margin-bottom: 1.2em;
  margin-top: -4px; }

.ft {
  margin-top: 3em;
  margin-bottom: 0em;
  padding-top: 3em;
  padding-bottom: 0em;
  border-top: 1px solid #d6d6d6; }
  .ft a, .ft a:visited, .ft a:active, .ft a:hover {
    color: #1c62d1;
    font-size: 1.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    transition: 0.4s; }
  .ft a:hover {
    color: #164da4;
    transition: 0.4s; }

.beforeLink {
  font-size: 0.9em;
  margin-left: 1em; }

.beforeLink:before {
  content: "["; }

.beforeLink:after {
  content: "]"; }

.comments {
  margin-top: 3em;
  margin-bottom: 0em; }

.comment {
  background-color: #F0F0F0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 40px;
  padding-right: 30px; }

.commentAuthor {
  padding-top: 0em;
  padding-bottom: 0.3em; }

.commentTime {
  float: right;
  font-size: 0.8em; }

.commentText {
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 300; }

.row {
  padding-left: 20px;
  padding-right: 20px; }

.holder {
  padding-top: 0em;
  padding-bottom: 0em; }
  @media (min-width: 60em) {
    .holder {
      padding-top: 0em;
      padding-bottom: 0em; } }

.header-holder {
  padding-top: 0.75em;
  padding-bottom: 1.5em;
  padding-left: 10px;
  padding-right: 10px; }
  @media (min-width: 42.5em) {
    .header-holder {
      padding-bottom: 0;
      position: fixed;
      width: 20%;
      left: 0;
      padding-left: 0px;
      padding-right: 0px;
      height: 100%;
      padding-top: 5%; } }

.main-header {
  text-align: center; }

.mainPicture {
  z-index: -999;
  display: none; }
  @media (min-width: 42.5em) {
    .mainPicture {
      margin-left: auto;
      margin-right: auto;
      height: 100px;
      position: relative;
      width: 100px;
      overflow: hidden;
      border-radius: 50%;
      behavior: url(PIE.htc);
      /* remove if you don't care about IE8 */
      display: block;
      transition: 0.2s; } }
  @media (min-width: 60em) {
    .mainPicture {
      transition: 0.2s;
      height: 150px;
      width: 150px; } }

.logo {
  position: absolute;
  top: 0;
  left: 0; }

.name {
  float: left;
  font-size: 1.3em; }
  .name a, .name a:hover, .name a:active, .name a:visited {
    color: #404040; }
  @media (min-width: 42.5em) {
    .name {
      float: inherit;
      margin-top: 0.3em;
      margin-bottom: 0em; } }

.socialMedia {
  float: right;
  list-style-type: none; }
  @media (min-width: 42.5em) {
    .socialMedia {
      margin-top: 0.75em;
      margin-bottom: 1.5em;
      width: 110px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      float: inherit; } }
  .socialMedia li {
    width: 35px;
    margin-right: 15px;
    float: left; }
    @media (min-width: 42.5em) {
      .socialMedia li {
        width: 30px;
        margin-right: 10px; } }
  .socialMedia li:last-child {
    margin-right: 0; }

.main {
  width: 100%; }
  @media (min-width: 42.5em) {
    .main {
      width: 80%;
      float: right;
      padding-top: 5px;
      padding-right: 5px; } }

.imgWrapper img {
  opacity: 0; }

.imgWrapper.loaded img {
  opacity: 1;
  transition: 0.4s; }

.pagination {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  height: 30px;
  margin-top: 1.5em;
  margin-bottom: 4.5em;
  position: relative;
  overflow: hidden;
  transition: 0.5s; }
  .pagination ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    display: block;
    left: 50%; }
    .pagination ul a, .pagination ul span {
      margin-left: 0.55em;
      margin-top: 0.45em;
      outline: 0;
      text-decoration: none;
      position: absolute;
      color: #FFFFFF;
      top: 0;
      z-index: 9999;
      width: 100%;
      height: 100%;
      display: block;
      float: left; }
  .pagination li:first-child, .pagination li:last-child {
    display: none; }
  .pagination li {
    margin-left: 1.6em;
    margin-right: 0.65em;
    position: relative;
    width: 1.5em;
    height: 2.598em;
    border-radius: 0.30em/.15em;
    background: #1c62d1;
    transition: opacity .5s;
    cursor: pointer;
    display: block;
    float: left; }
  .pagination li.selected2 {
    cursor: default; }
  .pagination li:before, .pagination li:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: ''; }
  .pagination li:before {
    transform: rotate(60deg); }
  .pagination li:after {
    transform: rotate(-60deg); }
  .pagination .selected2 {
    background: white; }
    .pagination .selected2 a {
      color: #404040;
      z-index: 999999; }

.error404 {
  height: 100%;
  text-align: center;
  width: 100%;
  padding-top: 20%;
  font-family: "Open Sans", sans-serif; }
  .error404 h1 {
    color: #008db2;
    font-weight: 300;
    font-size: 8em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em; }
  .error404 p {
    font-weight: 300;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em; }

.doormat-holder {
  padding-bottom: 1.5em; }
  @media (min-width: 60em) {
    .doormat-holder {
      padding-bottom: 3em; } }

.footer-holder {
  position: relative;
  padding-bottom: 1.5em;
  color: #FFFFFF;
  background-color: #1c62d1; }
  .footer-holder h4 {
    color: #FFFFFF;
    padding-top: 1.05em;
    padding-bottom: 0.75em;
    font-size: 1.4em;
    font-weight: 300; }
  .footer-holder p {
    line-height: 2.4em;
    padding-top: 0.3em;
    padding-bottom: 0em; }
    @media (min-width: 42.5em) {
      .footer-holder p {
        line-height: 1.8em; } }

.footer-block {
  margin-top: 0em;
  margin-bottom: 3em;
  text-align: center; }
  .footer-block a {
    border-bottom: 1px solid #3b7de5;
    transition: 0.4s; }
  .footer-block a:hover {
    border-bottom: 1px solid #FFFFFF;
    transition: 0.4s; }
  .footer-block a, .footer-block a:hover, .footer-block a:visited, .footer-block a:active {
    padding-bottom: 0.2em;
    text-decoration: none;
    color: #FFFFFF; }
  @media (min-width: 30em) {
    .footer-block {
      text-align: left;
      width: 50%;
      float: left; } }
  @media (min-width: 42.5em) {
    .footer-block {
      width: 33.33%; } }
  .footer-block h4 {
    font-size: 1.8em; }
    @media (min-width: 30em) {
      .footer-block h4 {
        font-size: 1.3em; } }
    @media (min-width: 60em) {
      .footer-block h4 {
        font-size: 1.4em; } }

.footer-block:last-child {
  margin-top: 0em;
  margin-bottom: 6em; }
  @media (min-width: 30em) {
    .footer-block:last-child {
      margin-top: 0em;
      margin-bottom: 3em; } }

@media (min-width: 42.5em) {
  .footer-block:nth-child(2) {
    width: 30; } }
@media (min-width: 60em) {
  .footer-block:nth-child(2) {
    width: 33.33%; } }

.footer-right img {
  width: 150px; }

.copy {
  margin-top: 1.5em;
  margin-bottom: 0em;
  width: 100%;
  border-top: 1px solid #4d4d4d;
  padding-top: 0em;
  padding-bottom: 1.2em;
  clear: both;
  text-align: center;
  font-size: 0.8em; }

.error404 {
  height: 100%;
  text-align: center;
  width: 100%;
  padding-top: 20%;
  font-family: "Open Sans", sans-serif; }
  .error404 h1 {
    color: #008db2;
    font-weight: 300;
    font-size: 8em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
    margin-bottom: 0em; }
  .error404 p {
    font-weight: 300;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em; }

.main-content {
  width: 109.0909090909%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }

.v-styleguide .section-title {
  color: #1c62d1;
  font-weight: 700;
  border-bottom: 3px solid #1c62d1;
  margin-bottom: 0.875em;
  font-size: 1.414em;
  line-height: 1.2376237624;
  padding-top: 0.3094059406em;
  padding-bottom: 0.3094059406em; }

.v-styleguide .scss {
  display: inline-block;
  color: #1c62d1;
  background: #F0F0F0;
  border: 1px solid #008db2;
  border-radius: 5px;
  padding: 3px; }

.example-form-grid label {
  width: 109.0909090909%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
@media (min-width: 30em) {
  .example-form-grid label {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
  .example-form-grid .name {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .email {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .street {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .city {
    width: 72.7272727273%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .number {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 5px;
    padding-right: 10px; }
  .example-form-grid .zip-code {
    width: 36.3636363636%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 5px; }
  .example-form-grid .full-width {
    width: 109.0909090909%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px; }
  .example-form-grid .oneliner .postfix {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 0px;
    padding-right: 10px; }
  .example-form-grid .oneliner .postfix button {
    border-radius: 0 5px 5px 0;
    border-left: 0; }
  .example-form-grid .oneliner .prefix {
    width: 54.5454545455%;
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 0px; }
  .example-form-grid .oneliner .prefix input {
    border-radius: 5px 0 0 5px;
    border-right: 0; } }

.v-grid .row > div[class*="grid"] {
  background: #278c9d;
  margin-top: 0.75em;
  margin-bottom: 0.75em; }
  .v-grid .row > div[class*="grid"] .inner {
    background: #31b1c6;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em; }

.v-grid .row .row > div[class*="grid"] {
  margin: 0; }

.navigationHolder {
  display: none; }

.navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  transition: 0.5s; }
  .navigation .main-nav {
    display: none; }
    @media (min-width: 42.5em) {
      .navigation .main-nav {
        font-family: "Open Sans", sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        display: block !important;
        float: right;
        clear: right; }
        .navigation .main-nav ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;
          float: right; }
          .navigation .main-nav ul li, .navigation .main-nav ul a {
            display: block;
            float: left;
            zoom: 1; }
        .navigation .main-nav li {
          border: 0;
          margin-left: 1.9em; } }
    @media (min-width: 42.5em) and (min-width: 42.5em) {
      .navigation .main-nav li ul {
        display: none; } }
    @media (min-width: 42.5em) {
        .navigation .main-nav li:first-child {
          display: none; }
        .navigation .main-nav li:nth-child(2) {
          margin-left: 0; }
        .navigation .main-nav a {
          color: #008db2;
          outline: 0;
          text-decoration: none;
          padding-bottom: 0.2em;
          border-bottom: 1px solid #FFFFFF; }
        .navigation .main-nav .selected a {
          background: none;
          outline: 0;
          height: 100%;
          border-bottom: 1px solid #008db2; }
        .navigation .main-nav a:hover {
          color: #00657f; } }

#headerLanguage {
  margin-top: 0.75em;
  margin-bottom: 0em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  height: 30px;
  float: right;
  position: relative;
  overflow: hidden;
  padding-right: 0.1em;
  transition: 0.5s; }
  @media (min-width: 30em) {
    #headerLanguage {
      margin-top: 1.125em;
      margin-bottom: 0em; } }
  @media (min-width: 42.5em) {
    #headerLanguage {
      margin-top: 0em;
      margin-bottom: 0em; } }
  #headerLanguage ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: right; }
    #headerLanguage ul li, #headerLanguage ul a {
      display: block;
      float: left;
      zoom: 1; }
    #headerLanguage ul a {
      padding-left: 0.83em;
      padding-top: 0.45em;
      outline: 0;
      text-decoration: none;
      position: absolute;
      color: #FFFFFF;
      top: 0;
      z-index: 9999;
      width: 180%;
      margin-left: -0.59em;
      height: 100%; }
  #headerLanguage li {
    margin-left: 1.6em;
    margin-right: 0.65em;
    position: relative;
    width: 1.5em;
    height: 2.598em;
    border-radius: 0.30em/.15em;
    background: #1c62d1;
    transition: opacity .5s;
    cursor: pointer; }
  #headerLanguage li::before, #headerLanguage li:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: ''; }
  #headerLanguage li::before {
    -ms-transform: rotate(60deg);
    /* IE 9 */
    -webkit-transform: rotate(60deg);
    /* Chrome, Safari, Opera */
    transform: rotate(60deg); }
  #headerLanguage li::after {
    -ms-transform: rotate(-60deg);
    /* IE 9 */
    -webkit-transform: rotate(-60deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-60deg); }
  #headerLanguage .selected {
    background: white; }
    #headerLanguage .selected a {
      color: #404040; }

@media (min-width: 42.5em) {
  .headerLanguage-small {
    height: 0px !important;
    transition: 0.5s; } }

.menuButton {
  position: relative;
  background-color: #008db2;
  color: #FFFFFF;
  width: 100%;
  height: 50px; }
  .menuButton a, .menuButton a:hover, .menuButton a:active, .menuButton a:visited {
    width: 40%;
    height: 100%;
    text-align: right;
    color: #FFFFFF;
    float: right;
    font-size: 1.4em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300; }
  .menuButton img {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    float: right; }
  @media (min-width: 42.5em) {
    .menuButton {
      display: none; } }

.menuRes {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 55px;
  margin-top: 5px; }

#mobile-header {
  display: none; }

@media only screen and (max-width: 767px) {
  #mobile-header {
    display: block; } }
.sidr {
  font-size: 1.2em;
  font-weight: 300;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  background: #272727;
  color: #1c62d1;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: inset 0 0 5px 0 #222;
  -moz-box-shadow: inset 0 0 5px 0 #222;
  box-shadow: inset 0 0 5px 0 #222; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a; }

.sidr-class-selected {
  color: #1c62d1 !important;
  font-weight: 700; }
  .sidr-class-selected ul li a {
    color: #FFFFFF;
    font-weight: 300; }
  .sidr-class-selected .sidr-class-selected a {
    color: #1c62d1 !important;
    font-weight: 300; }

.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 49px; }

.sidr ul li:hover > a, .sidr ul li:hover > span, .sidr ul li.active > a, .sidr ul li.active > span, .sidr ul li.sidr-class-active > a, .sidr ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #212121;
  -moz-box-shadow: inset 0 0 15px 3px #212121;
  box-shadow: inset 0 0 15px 3px #212121; }

.sidr ul li a, .sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover > a, .sidr ul li ul li:hover > span, .sidr ul li ul li.active > a, .sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a, .sidr ul li ul li.sidr-class-active > span {
  -webkit-box-shadow: inset 0 0 15px 3px #222;
  -moz-box-shadow: inset 0 0 15px 3px #222;
  box-shadow: inset 0 0 15px 3px #222; }

.sidr ul li ul li a, .sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button], .sidr input[type=submit] {
  color: #333;
  background: #fff; }

.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9); }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #ccc;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
